<% include template/head %>

<!-- Header -->
	<header id="header">
		<h1>WAHH Chapter 5</h1>
		<p><a href="/simple">Simple</a>.</p>
		<p><a href="/moderate">Moderate</a>.</p>
		<p><a href="/difficult">Difficult</a>.</p>
	</header>


<% include template/foot %>