		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; Dejan Zelic.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="javascripts/ie/respond.min.js"></script><![endif]-->
			<script src="javascripts/main.js"></script>

	</body>
</html>